# PostgreSQL
POSTGRES_DB=commerce_db
POSTGRES_USER=commerce_user
POSTGRES_PASSWORD=change_me_in_local_env

# Django
DJANGO_SECRET_KEY=change_me_generate_a_real_one
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1